body{
    font-family: 'Quicksand', sans-serif;
    background: rgb(224, 211, 194);
    border: 25px solid rgb(4, 82, 4);
    margin-left: 290px;
    width: 900px;
    height: 700px;
}
div{
    text-align:center;
}
p{
    margin-left: 250px;
    border-bottom: 2px solid black;
    width: 400px
}




.h3{
    display: inline-block;
}
#son{
    text-align: center;
    margin-left: 250px;
    border-bottom: solid 2px black;
    width: 200px;
    padding-bottom: 20px;
}
#sgn{
    margin-left: 660px;
    margin-bottom: 200px
}